
<div class="modal fade add-to-all-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="background-color: white">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">
                Add picture to all placeholders
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">

                <img id="imageForAll" src="#" style="display: none">


                @(Html.Kendo().Upload()
                    .Name("filesforall").Multiple(false)
                    .Async(a => a
                        .Save("SaveAll", "Upload")
                        .Remove("Remove", "Upload")
                        .AutoUpload(true)
                    ).Events(events => events
                    .Success("onSuccess"))
                )

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btnCropAndAddToAll">Add picture</button>
        </div>
    </div>
</div>