
<div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="demoModal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="demoModal-label">See this cool demo!</h4>
            </div>
            <div class="modal-body">
                <img src="~/Images/AddOnePicture.gif" class="img-responsive center-block" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Yep, i got it!</button>
            </div>
        </div>
    </div>
</div>