    <!-- Sidebar -->
<div id="sidebar-wrapper" class="">
    <nav id="spy">
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand active" style="margin-bottom: 50px">
                <a href="#home" class="navbar-brand">
                    <img src="~/Images/Logo.png" class="img-responsive logo img-thumbnail" />
                </a>

            </li>
            <p class="follow">
                Follow this steps
            </p>
            <li class="">
                <a href="#choose-paper" data-scroll="" class="" id="aChoosePaper">
            
                        <img src="~/Images/buttonn1.jpg" class="solo"/>
            

                </a>

            </li>
            <li class="">
                <a href="#choose-template" data-scroll="" class="" id="aChooseTemplate">
                         <img src="~/Images/buttonn2.jpg" class="solo"/>
                </a>

            </li>
            <li class="">
                <a href="#choose-image" data-scroll="" class="" id="aChoosePictures">
                         <img src="~/Images/buttonn3.jpg" class="solo"/>
                </a>

            </li>
            <li class="">
                <a href="#finishAndPrint" data-scroll="" class="" id="aFinishAndPrint">
                         <img src="~/Images/buttonn4.jpg" class="solo"/>
                </a>

            </li>
        </ul>
    </nav>
</div>