@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <!-- Large modal -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">
        Choose different template
    </button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="background-color: white">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">
                    Choose template
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    @for (var i = 0; i < 4; i++)
                    {
                        <div class="col-sm-6">
                            <div class="panel panel-default template" onmousedown="TemplateClick(this)">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        Cool template @i
                                    </div>
                                </div>
                                <div class="panel-body">
                                    @for (var v = 0; v < 10; v++)
                                    {
                                        <div class="col-sm-3">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    Lorem ipsum dolores sit amet
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Choose Template</button>
            </div>
        </div>
    </div>
</div>
<div class="row content-placeholders" id="page-for-printing">


    @for (var i = 0; i < 10; i++)
    {
        <div class="placeholder">
            <div class="panel panel-default box" onmousedown="AddImageToPlaceHolder(this)">
                <div class="panel-body text-center">
                    <a href='#' class='btn btn-default btn-add-image' style="display: none;">Add image </a>
                </div>
            </div>
        </div>
    }

</div>
<hr />
<div class="row">
    <button class="btn btn-danger" id="print-button">
        Print
    </button>
</div>
@section Scripts{


    <script src="~/Scripts/jquery.browser.min.js"></script>
    <script src="~/Scripts/jquery.printelement.min.js"></script>

    <script>
        $('#print-button').click(function () {
            $('.btn-add-image').hide();
             $(".box").removeClass("active-box");
            $("#page-for-printing").printElement({ printMode: 'popup' });
        });

        function AddImageToPlaceHolder(elem) {

            if ($(elem).hasClass('active-box')) {
                return;
            };
             $('.btn-add-image').hide();

            $(".box").removeClass("active-box");
            $(elem).addClass("active-box");


            var attr = $(".active-box").find(".btn-add-image").attr('style');
            console.log(attr);

            if (attr == "display: none;") {
                $('.active-box .btn-add-image').show();
            } else {
                $('.active-box .btn-add-image').hide();
            }

            //$(".active-box .panel-body").html("<a href='#' class='btn btn-default btn-add-image'>Add image to this place </a> ")
        };

        function TemplateClick(elem) {

            $(".template").removeClass("active-box");
            $(elem).addClass("active-box");

        };

    </script>

}
