@font-face {
    font-family: fontawesome-webfont;
    src: url('../fonts/fontawesome-webfont.eot'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.woff');
}

@import 'https://fonts.googleapis.com/css?family=Lato';

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        overflow: auto !important;
    }
}

.k-widget {
    margin: 50px;
}

.container {
    max-width: 900px;
}

.col-sm-3 {
    padding: 5px;
}

.col-sm-6 {
    padding: 5px;
}

#get-help {
    font-size: 32px;
    padding: 15px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #get-help {
        font-size: 22px;
        padding-top: 20px;
    }
}

.papersizes {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.active-paper {
    -moz-box-shadow: 0 0 25px blue, 0 0 25px rgba(0, 13, 255, 0.35) inset;
    -webkit-box-shadow: 0 0 25px blue, 0 0 25px rgba(0, 13, 255, 0.35) inset;
    box-shadow: 0 0 25px blue, 0 0 25px rgba(0, 13, 255, 0.35) inset;
}

    .paper-name {

        font-size: 10em;
        font-style: italic;
        text-shadow: 0 10px 5px #808080;
    }

.a4size {
    height: 600px;
    width: 42%;
    margin-left: 5%;
}

.UsPaper {
    width: 42%;
    height: 550px;
    margin-left: 5%;
    text-align: center;
}

.btn-continue {
    clear: both;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 100px;
    opacity: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /*.btn-continue{
    clear: both;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 15%;
}*/

    #home {
        font-size: 28px;
    }
    .paper-name{
        font-size: 4em;
        margin-top: 30%;

    }
    .a4size {
        height: 400px;
        width: 92%;
        margin: 4%;
    }

    .UsPaper {
        width: 91%;
        height: 350px;
        margin-top: 25px;
    }
}

.modal-dialog {
    width: 85%;
}

.panel {
    margin-bottom: 0;
    cursor: pointer;
}

.box {
}

.active-box {
    -moz-box-shadow: 0 0 25px green, inset 0 0 5px black;
    -webkit-box-shadow: 0 0 25px green, inset 0 0 5px black;
    box-shadow: 0 0 25px green, inset 0 0 5px black;
}




.content-placeholders {
    margin-top: 20px;
    padding: 5px;
    -moz-box-shadow: 0 0 1px;
    -webkit-box-shadow: 0 0 1px;
    box-shadow: 0 0 1px;
}


  

.btn-add-image {
    /*something is horribly wrong with this button*/
    margin: 0;
    position: absolute;
    right: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .placeholder .panel-body {
        height: 100px;
    }
}
/*Start side buttons*/
#aChooseTemplate, #aChoosePictures, #aFinishAndPrint {
    display: none;
}

/*end side buttons*/


/*Start rows*/
#choose-paper {
    opacity: 0.2;
}

#panel-home {
}

#choose-template {
    opacity: 0.2;
}

#choose-image {
    opacity: 0.2;
}


#finishAndPrint {
    opacity: 0.2;
    margin-bottom: 20%;
}
/*End rows*/


/*Side menu CSS START*/
.solo {
    width: 100%;
    margin-left: 0;
}

.follow {
    text-align: center;
    font-size: 22px;
    color: black;
}

.logo {
    width: 100%;
    padding: 10px;
}

.logo-home {
    padding: 50px;
    width: 100%;
}

@media only screen and (min-width : 1023px) {
    .logo-home {
        padding: 50px;
        width: 60%;
    }
}

#wrapper {
    overflow: auto;
    padding-left: 250px;
    transition: all 0.4s ease 0s;
    background-image: url(../Images/backgraound-tile.jpg);
    background-position: top;
    background-attachment: fixed;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: white;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

    #wrapper.active #sidebar-wrapper {
        left: 0;
    }

#page-content-wrapper {
    width: 94%;
    margin-left: 3%;
}



.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
}

    .sidebar-nav li {
        line-height: 40px;
        opacity: 0.35;
    }

        .sidebar-nav li img {
            width: 90%;
        }

.active img {
    opacity: 1;
    cursor: pointer !important;
}

.sidebar-nav li:not(:first-child) a {
    color: #aaa;
    display: block;
    text-decoration: none;
    font-size: 22px;
    cursor: not-allowed;
    transition: all ease-in-out 0.1s;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #999999;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #fff;
    background: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 1;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }



.content-header {
    height: 65px;
    line-height: 65px;
}

    .content-header h1 {
        margin: 0;
        margin-left: 20px;
        line-height: 65px;
        display: inline-block;
    }

#menu-toggle {
}

.btn-menu {
    color: #000;
}

.inset {
    padding: 20px;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 250px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }
}

/*Side menu CSS END*/
