body{
    margin-top: 80px;
    /*padding:5px*/ 
} 
.col-sm-3{
    padding: 5px
}
.col-sm-6{
    padding: 5px
}
.modal-dialog{
    width: 85%;
}
.panel{
    margin-bottom: 0;
}
.box{
    height: 150px;
}
.active-box {
    -moz-box-shadow: 0 0 25px green, inset 0 0 5px  black;
    -webkit-box-shadow: 0 0 25px green, inset 0 0 5px  black;
    box-shadow: 0 0 25px green, inset 0 0 5px  black;
}
.content-placeholders {
    margin-top: 20px;
    padding: 5px;
    -moz-box-shadow: 0 0 1px;
    -webkit-box-shadow: 0 0 1px;
    box-shadow: 0 0 1px;
    
}
.placeholder{
    width: 32%;
    padding: 5px;
    display: inline-block;


}
.placeholder .panel-body{
    height: 150px;
    position: relative;
    padding: 1px;
}
.btn-add-image{
    /*something is horribly wrong with this button*/
   
    margin: 0;
    position: absolute;
    right: 0;
}