body{
    margin-top: 50px;
    /*padding:5px*/ 
} 
.k-widget{
    margin: 50px;
}
.container{
    max-width: 900px;
}
.col-sm-3{
    padding: 5px
}
.col-sm-6{
    padding: 5px
}
.modal-dialog{
    width: 85%;
}
.panel{
    margin-bottom: 0;
    cursor: pointer;
}
.box{
    
}
.active-box {
    -moz-box-shadow: 0 0 25px green, inset 0 0 5px  black;
    -webkit-box-shadow: 0 0 25px green, inset 0 0 5px  black;
    box-shadow: 0 0 25px green, inset 0 0 5px  black;
}

.active-template {
    -moz-box-shadow: 0 0 25px blue, inset 0 0 5px  black;
    -webkit-box-shadow: 0 0 25px blue, inset 0 0 5px  black;
    box-shadow: 0 0 25px blue, inset 0 0 5px  black;
}
.template .panel-body:first-child{
    height: 60px;
}
.content-placeholders {
    margin-top: 20px;
    padding: 5px;
    -moz-box-shadow: 0 0 1px;
    -webkit-box-shadow: 0 0 1px;
    box-shadow: 0 0 1px;
    
}
.placeholder{
    width: 32%;
    padding: 5px;
    display: inline-block;


}
.placeholder .panel-body{
    height: 170px;
    position: relative;
    padding: 1px;
}
.btn-add-image{
    /*something is horribly wrong with this button*/
   
    margin: 0;
    position: absolute;
    right: 0;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .placeholder .panel-body {
        height: 100px;
    }
}