
.active-template {
    -moz-box-shadow: 0 0 25px blue, inset 0 0 5px black;
    -webkit-box-shadow: 0 0 25px blue, inset 0 0 5px black;
    box-shadow: 0 0 25px blue, inset 0 0 5px black;
}

.active-template > .panel-body {
    background-color: rgba(0, 13, 255, 0.35);
}

#choose-template {
    max-width: 1600px;
    /*   Template Square   */
    /*   Template Square Box */
    .template-box-square {
        margin-top: 2%;
        margin-right: 0%;
        display: inline-block;

        .panel-body {
            height: 6em;
        }
    }
    /*   Template Square Box */
}


@media only screen and (max-width: 1024px) and (max-height: 768px) {

    /*   Template Square Box */
    .template-box-square {
        width: 24%;
        margin-top: 2%;
        margin-right: 0%;

        .panel-body {
            height: 3.5em;
        }
    }
    /*   Template Square Box */
}

/*******************************************/

/*   Template Round   */

/*   Template Round Box */
.template-box-round {
    margin-top: 2%;
    display: inline-block;

    .panel {
                overflow: hidden;
        -moz-border-radius: 17em !important;
        -webkit-border-radius: 17em !important;
        border-radius: 17em !important;
    }

    .panel-body {

    }
}
/*   Template Round Box */


@media only screen and (max-width: 1024px) and (max-height: 768px) {

    /*   Template Square Box */
    .template-box-round {
        width: 24%;
        margin-top: 2%;
        margin-right: 0%;

        .panel-body {
        }
    }
    /*   Template Square Box */
}


/*******************************************/

/*   Template Ellipsis   */

/*   Template Ellipsis Box */
.template-box-ellipsis {
    margin-top: 2%;
    display: inline-block;

    .panel {
        -moz-border-radius: 100% !important;
        -webkit-border-radius: 100% !important;
        border-radius: 100% !important;
    }

    .panel-body {
        height: 11em;
    }
}
/*   Template Ellipsis Box */


@media only screen and (max-width: 1024px) and (max-height: 768px) {

    /*   Template Square Box */
    .template-box-ellipsis {
        width: 49%;
        margin-top: 2%;

        .panel-body {
            height: 5.5em;
        }
    }
    /*   Template Square Box */
}



/*******************************************/

/*   Template Rectangle   */

/*   Template Rectangle Box */
.template-box-rectangle {
    margin-top: 2%;
    display: inline-block;

    .panel {
    }

    .panel-body {
        height: 90px;
    }
}
/*   Template Rectangle Box */

@media only screen and (max-width: 1024px) and (max-height: 768px) {

    /*   Template Square Box */
    .template-box-rectangle {
        width: 49%;
        margin-top: 2%;

        .panel-body {
            height: 3.5em;
        }
    }
    /*   Template Square Box */
}



/*******************************************/
