
<style>
    #imageForAll, #image{
        width: 100%;
    }
</style>
<div class="" id="choose-image">

    <div class="text-justify">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target=".add-to-all-modal">
            Add picture to all boxes
        </button>

        @*<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target=".templates-modal">
                Choose different template
            </button>*@


    </div>
    <div class="content-placeholders" id="page-for-printing">
        @Html.Partial("Rows/Template", new DesignAndPrint.Models.Templates()
   {
       TemplateName = "template-square",
       TemplateClassName = "col-sm-12 template-square",
       BoxClassName = "col-sm-3 template-box-square",
       BoxCount = 16
   })
    </div>
    <div class="row text-center">
        <button class="btn btn-success btn-lg btn-continue" id="btnFinishAndPrint">
            <span class="glyphicon glyphicon-circle-arrow-down" style="padding: 15px">        </span>

            Finnish and Print
            <span class="glyphicon glyphicon-circle-arrow-down" style="padding: 15px">        </span>

        </button>
    </div>

</div>