
<div class="row text-center" id="finishAndPrint">
    <button class="btn btn-danger" id="print-button">
        <span class="glyphicon glyphicon-print"></span>
        Print directly from browser
    </button>

    <button class="btn btn-danger" id="download-pdf-button">
        <span class="glyphicon glyphicon-download"></span>
        Download in PDF format
    </button>

    <button class="btn btn-danger" id="send-pdf-button">
        <span class="glyphicon glyphicon-envelope"></span>
        Sent to email with attachment  in PDF format
    </button>
</div>

