

<div class="panel panel-danger" id="finishAndPrint">
    <div class="panel-heading">
        <div class="panel-title">
            Your Stickers are ready! So simple right?
        </div>
    </div>
    <div class="panel-body">

        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Print
                </div>
                <div class="panel-body">
                    <div class="jumbotron">
                        <p style="padding: 20px">
                            <span class="text-success text-uppercase">
                                Print the stickers from your browser in seconds!
                            </span>
                            <br />
                            <br />
                            <span class="h5">
                                For perfect compatibility make this changes in the browser settings
                            </span>
                        </p>
                        <ul class="list-group list-group-item-danger" style="padding: 10px;">
                            <li class="list-group-item">Paper size : Letter</li>
                            <li class="list-group-item">Margins: Minimum</li>
                            <li class="list-group-item">Options: Background and graphics</li>
                        </ul>
                    </div>


                    <button class="btn btn-danger center-block" id="print-button">
                        <span class="glyphicon glyphicon-print"></span>
                        Print directly from browser
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Download</div>
                <div class="panel-body">
                    <div class="jumbotron">
                        <p style="padding: 20px">
                            <span class="text-success text-uppercase">

                                Download stickers directly in .pdf format.
                                <br />

                            </span>
                            <span class="h5">
                                You can save it and print it every time you want.

                            </span>
                        </p>
                    </div>
                    <button class="btn btn-danger center-block" id="download-pdf-button">
                        <span class="glyphicon glyphicon-download"></span>
                        Download in PDF format
                    </button>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Sent</div>
                <div class="panel-body">
                    <div class="jumbotron">
                        <p style="padding: 20px">
                            <span class="text-success text-uppercase">

                                Send the stickers to your email or brag to a friend!
                                <br />

                            </span>
                            <span class="h5">
                                Stickers will be added like a attachment. After that your friend or you can download them in .pdf format.

                            </span>
                        </p>
                    </div>
                    <button class="btn btn-danger center-block" id="send-pdf-button">
                        <span class="glyphicon glyphicon-envelope"></span>
                        Sent to email with attachment
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>




