
<div class="panel panel-success panel-home">
    <div class="panel-heading">Welcome</div>
    <div class="panel-body">
        <div class="success text-center">

            <img src="~/Images/Logo.png" class="logo-home" />

        </div>

    </div>
    <div class="panel-footer">
        <button class="btn btn-primary btn-lg">
            <i class="glyphicon glyphicon-share " aria-hidden="true"></i>
            Share on Facebook!
        </button>
        <button class="btn btn-danger btn-lg">
            <i class="glyphicon glyphicon-share " aria-hidden="true"></i>
            Share on Google+!
        </button>
    </div>
</div>

<div class="row text-center">
    <button class="btn btn-success btn-lg btn-continue">Continue With Paper Size</button>
</div>