
<div class="panel panel-success panel-home">
    <div class="panel-heading">Welcome</div>
    <div class="panel-body">
<div class="success">
<h1>
        lorem ipsum dolores sit amet
</h1>
</div>

    </div>
</div>