<div class="row papersizes" id="choose-paper">
    <div class="panel panel-default col-sm-6 a4size">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
    </div>
    <div class="panel panel-default col-sm-6 UsPaper">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
    </div>
    <div class="row text-center">
    <button class="btn btn-success btn-lg btn-continue">Continue With Templates</button>
</div>
</div>
