<div class="panel panel-info " id="choose-paper">
    <div class="panel-heading">Choose Paper Size </div>
    <div class="panel-body">
        <div class="row papersizes ">
            <div class="panel panel-default col-sm-6 a4size">
                <div class="panel-body">
                    <table class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <td>
                                    Size
                                </td>
                                <td>
                                    Width x Height (mm)
                                </td>
                                <td>
                                    Width x Height (in)
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                   A4
                                </td>
                                <td>
                                   210 x 297 mm
                                </td>
                                <td>
                                    8.3 x 11.7 in
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <p class="paper-name">
                        A4
                    </p>
                </div>
            </div>
            <div class="panel panel-default col-sm-6 UsPaper">
                <div class="panel-body">
                      <table class="table table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <td>
                                    Size
                                </td>
                                <td>
                                    Width x Height (mm)
                                </td>
                                <td>
                                    Width x Height (in)
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                               US Letter
                                </td>
                                <td>
                                   216 x 279 mm
                                </td>
                                <td>
                                    8.5 x 11 in
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="paper-name">
                        US Letter
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row text-center">

    <button class="btn btn-success btn-lg btn-continue" id="btnContinueWiTemplates">
        <span class="glyphicon glyphicon-circle-arrow-down" style="padding: 15px">        </span>

        Continue With Templates
                <span class="glyphicon glyphicon-circle-arrow-down" style="padding: 15px">        </span>

    </button>
</div>